.portfolio__container {
  cursor: pointer;
  height: 430px;
  width: 200px;
  // perspective: 800;
    position: relative;
    border-radius: 10px;
    margin: 0 5px;
    display: inline-block;
}
.portfolio__card {
    border-radius: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
   max-width: 200px;
   img{
       width: 100%;
       height: auto;
       border-radius: 33px;
   }
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.portfolio__card:hover {
  transform: rotateY(180deg);
}
.portfolio__card .portfolio__side {
  backface-visibility: hidden;
  border-radius: 33px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.portfolio__card .back {
  background: #eaeaed;
  text-align: left;
  transform: rotateY(180deg);
  background-image: url(../img/my_works/phone.jpg);
  background-size: cover;
  font-size: 10px;
  padding: 30% 10%;
  color: #000;
  font-style: italic;
}
.portfolio-block{
    margin: 0 auto;
    padding-bottom: 5%;

}
article{
     text-align: center;
    p{
        text-align: right;
    }
    h2{
        text-align: center;
        color: $blucolor;
        font-size: 35px;
        font-style: italic;
        margin-top: -5%;
        @media only screen and (max-width: 640px){
            font-size: 25px;
            margin: 0;
        }
    }
    p{
        font-style: italic;
        color: $blucolor;
        padding: 5%;
        text-align: left;

    }
}
