mixin portfolio
    main
        header
            .header__me
                img(src="img/me/me_black.jpg" alt="me_black")
            .header__greet
                h1 FRON-END DEVELOPER
                h3 Hello, my name is 
                h1 Ihor Moroz
                p
                    a(href="index.html") main
        article
            h2 Here are some of my works
            p Lorem ipsum dolor sit amet. Commodi autem vel eum fugiat. Ullam corporis suscipit laboriosam, nisi ut enim ad minima veniam, quis nostrum. Corporis suscipit laboriosam, nisi. Ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam. Soluta nobis est laborum et iusto. Reiciendis voluptatibus maiores alias consequatur. Optio, cumque nihil impedit, quo voluptas sit, aspernatur aut rerum facilis. Minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi. Nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut et voluptates. Commodi autem quibusdam et expedita distinctio rem aperiam eaque ipsa quae. Sapiente delectus, ut perspiciatis, unde omnis dolor sit aspernatur. Placeat, facere possimus, omnis voluptas nulla vero eos et iusto odio dignissimos. Error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque. Facilis est laborum et voluptates repudiandae sint et quas.
            .portfolio-block
                .portfolio__container
                    .portfolio__card
                        .portfolio__side
                            img(src="img/my_works/coldcoach.jpg" alt="cold-coach" )
                        .portfolio__side(class="back")
                            h5  HTML/CSS верстка
                            p Адаптивная верстка с PSD макета. Использую в данной работе html, css, js, scss,bootstrap3, font-awesom, flex-box. Исходный макет находится в папке 'model' git-репозитория ссылку на который оставляю ниже
                            a( href="https://github.com/moroz-igor/cold_coach.git" ) ПОСМОТРЕТЬ КОД
                            //p 
                                //a( href="http://testlanding.mardok.site/") ПОСМОТРЕТЬ РАБОТУ
                        
                .portfolio__container
                    .portfolio__card
                        .portfolio__side
                            img(src="img/my_works/mixtelecom.jpg" alt="cold-coach" )
                        .portfolio__side(class="back")
                            h5  HTML/CSS верстка
                            p Адаптивная верстка с PSD макета. Использую в данной работе html, css, js, scss,bootstrap3, font-awesom, flex-box. Исходный макет находится в папке 'model' git-репозитория ссылку на который оставляю ниже
                            a( href="https://github.com/moroz-igor/mixtelecom.git" ) ПОСМОТРЕТЬ КОД
                            //p 
                                //a( href="http://mixtelecom.mardok.site/") ПОСМОТРЕТЬ РАБОТУ
                .portfolio__container
                    .portfolio__card
                        .portfolio__side
                            img(src="img/my_works/pixelplus.jpg" alt="cold-coach" )
                        .portfolio__side(class="back")
                            h5  HTML/CSS верстка
                            p Адаптивная верстка выполнена на flex без css bootstrap. Это тесовая работа. Javascript выполняет блокировку доступа с устаревших броузеров. Использую в работе html5, css3, scss/sass, js, jquery
                            a( href="https://github.com/moroz-igor/pixelplus_test.git" ) ПОСМОТРЕТЬ КОД
                            //P 
                                //a( href="http://pixelplus.mardok.site/") ПОСМОТРЕТЬ РАБОТУ
                .portfolio__container
                    .portfolio__card
                        .portfolio__side
                            img(src="img/my_works/irregular_verbs.jpg" alt="cold-coach" )
                        .portfolio__side(class="back") 
                            h5   Javascript
                            p Это мой проэкт, десктопная версия. Был написан в процессе изучения языка Javascript. Cейчас внес небольшие поправки и решил отправить в сеть. Может быть полезен тем, кто начинает изучать английский язык. Основные технологии - Javascript, JQuery, так же элементы html5, css3, bootstrap3, scss/sass
                            a( href="https://github.com/moroz-igor/irregular_verbs.git" ) ПОСМОТРЕТЬ КОД
                            //p 
                                //a( href="http://irregularverbs.mardok.site/") ПОСМОТРЕТЬ РАБОТУ
                .portfolio__container
                    .portfolio__card
                        .portfolio__side
                            img(src="img/my_works/photoalbum.jpg" alt="cold-coach" )
                        .portfolio__side(class="back") 
                            h5  Javascript
                            p Front-end разработка. Сайт-визитка фотографа. Минимализм сформирован по желанию заказчика. Реализована собственная резиновая адаптация на javascript видео и галерея с автоматической подстройкой под размер броузера. Использую: элементы html5, css3, scss/sass, bootstrap, js, jquery, pug, gulp, git
                            a( href="https://github.com/moroz-igor/photoalbum-falatiuk_dima.git" ) ПОСМОТРЕТЬ КОД
                            //p 
                                //a( href="http://falatyuck.mardok.site/") ПОСМОТРЕТЬ РАБОТУ                                   
        footer
            p +38(067) 150 - 27 - 06              
            p ihorpetrenko.2017@gmail.com 
    
