footer{
    padding: 5%;
    display: flex;
    justify-content : space-around;
    background-color: $blucolor;
    font-size: 25px;
    color: #fff;
    @media only screen and (max-width: 780px){
        flex-direction: column;
        font-size: 16px;
        font-style: italic;
        p{
            color: #000;
        }
    }
}
