include head/head
include header/header
include content/content
include footer/footer
doctype html
html(lang="zxx")
    head
        +head("about me")
    body
        +content
    script( src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    //  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
    script(src ="js/libs.min.js")    
    script(src ="js/main.js")    
