include head/head
include header/header
include portfolio/_portfolio
include footer/footer
doctype html
html(lang="zxx")
    head
        +head("my works")
    body
        +portfolio
    script( src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    //  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
    script(src ="js/libs.min.js")    
    script(src ="js/main.js")    
