header{
    display: flex;
    justify-content : space-around;
    padding: 7% 7% 3%;
    @media only screen and (max-width: 540px){
        flex-direction : column;
    }
}
.header__greet{
    p{
        text-align: right;
    }
    a{
        font-size: 20px;
        font-style: italic;
        color: $blucolor;
    }
    h1{
        font-size: 50px;
        @media only screen and (max-width: 640px){
            font-size: 40px;
        }
            @media only screen and (max-width: 540px){
                font-size: 35px;
        }
    }
}
.header__me{
    max-width: 20%;
    min-width: 150px;
    margin-right : 15%;
    opacity: 0.8;
     @media only screen and (max-width: 540px){
        margin: 0 auto;
     }
    img{
        width: 100%;
        height: auto;
    }
}
