mixin header 
    header
        .header__me
            img(src="img/me/me_black.jpg" alt="me_black" )
        .header__greet
            h1 FRON-END DEVELOPER
            h3 Hello, my name is 
            h1 Ihor Moroz
