mixin content
    main
        +header()
        .language        
            span( class="language__ru") RU 
            span( class="language__en") EN 
        .content
            .content__skills
                h2 SKILLS
                .content__skills-skill
                    mixin skill(tech, rank)
                        div
                            h4 #{tech}
                            .progress
                                p(class= rank)
                    +skill('HTML5', 'width__80')
                    +skill('CSS3', 'width__80')
                    +skill('Scss/Sass', 'width__80')
                    +skill('PUG', 'width__80')
                    +skill('Javascript', 'width__60')
                    +skill('JQuery', 'width__60')
                    +skill('Bootstrap', 'width__60')
                    +skill('Gulp', 'width__60')
                    +skill('Git', 'width__40')
                    +skill('BEM', 'width__20')
                    +skill('OOP', 'width__20')
                    +skill('Ajax', 'width__20')
                    +skill('PHP', 'width__20')
                    +skill('WordPress', 'width__10')
            section        
                .content__about-me(class="en")
                    .language        
                        span( class="language__ru") RU 
                        span( class="language__en") EN 
                    h2 About me
                    p Lorem ipsum dolor sit amet. Enim ipsam voluptatem, quia consequuntur magni dolores et quas.   Delectus, ut labore et harum quidem rerum. Excepturi sint, obcaecati cupiditate non recusandae  velit. Optio, cumque nihil impedit. Voluptatem accusantium doloremque laudantium, totam rem aperiam     eaque. Culpa, qui ratione voluptatem accusantium doloremque laudantium, totam rem aperiam. Nulla    vero eos et expedita. Est eligendi optio, cumque nihil impedit. Commodi autem vel illum, qui in ea  voluptate velit esse, quam nihil.
                    p Quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex. Beatae vitae  dicta sunt, explicabo itaque earum rerum necessitatibus saepe eveniet. Expedita distinctio eos et   aut perferendis doloribus. Quibusdam et aut fugit, sed ut perspiciatis, unde omnis. Assumenda est,  omnis iste natus error sit voluptatem sequi. Sit voluptatem sequi nesciunt, neque porro quisquam    est, omnis voluptas nulla vero.
                    p Quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex. Beatae vitae  dicta sunt, explicabo itaque earum rerum necessitatibus saepe eveniet. Expedita distinctio eos et   aut perferendis doloribus. Quibusdam et aut fugit, sed ut perspiciatis, unde omnis. Assumenda est,  omnis iste natus error sit voluptatem sequi. Sit voluptatem sequi nesciunt, neque porro quisquam    est, omnis voluptas nulla vero. Assumenda est,  omnis iste natus error sit voluptatem sequi. Sit voluptatem sequi nesciunt, neque porro quisquam    est, omnis voluptas nulla vero.
                .content__about-me(class="ru")
                    .language        
                        span( class="language__ru") RU 
                        span( class="language__en") EN 
                    h2 Обо мне
                    p Уважаемый работодатель! Меня зовут Игорь. Эта страница содержит небольшую дополнительную информацию обо мне, которая возможно Вам интересна. Я инженер с высшим техническим образованием. Закончил ВДАУ. По специальности я инженер в отраслях АПК, теория и ремонт авто-тракторных ДВС. Профильного компьютерного образования, к сожаленью у меня нет, если не считать полугодичные курсы программирования на которых, в принципе я увлекся веб-разработкой. 
                    p Решение программировать вышло из увлечения электроникой и силовой электротехникой, по мере ознакомления с микроконтроллерными платами Arduino и микроконтролерами семейства AVR. Ориентируясь на собственные предпочтения, основы пришлось учить на базе языков С/С++, что продолжаю и делать по сей день. Огромый интерес у меня вызывает направление WEB, связанное с управлением электронными устройствами поредством сети интернет(Internet Things). Front-End разработка, мне нравится посколько я люблю наявную визуализацию собственной работы, хотя в будующем планирую хорошо осовить и серверную часть. Я пишу и общаюсь простым предложениями на английском языке, при читке технической документации и сложных текстов периодически использую словарь.
                    p Я легко и быстро обучаюсь новым технологиям, поэтому в случае надобности меня не пугает необходимость перепрофилирования и изучения нового. Я не имею никаких политических, рассовых и национальных предубеждений, люблю работу в хорошем коллективе единомышленников и увлеченных людей. Я исповедую здоровый образ жизни, спорт, люблю путешествовать. Буду рад нашму знакомству и возможности обрести взаимную пользу.
        .goal
            h2 GOAL
            div
                p React 
                p PHP 
                p CMS 
                p MySQL 
                p Node.js 
                p OOP  
                p MVC 
        .portfolio
            a(href="portfolio.html") Portfolio
        footer
            p +38(067) 150 - 27 - 06              
            p ihorpetrenko.2017@gmail.com 
            
 
