main{
    width: 90%;
    max-width: 1100px;
    background: #fff;
    background: radial-gradient(circle farthest-side at 30px 20px, #959595, #FBFBFB);
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    margin: 10px auto;
}
.language{
    text-align: right;
    padding-right: 15%;
    cursor: pointer;

    span{
        color: $blucolor;
        font-size: 20px;
    }
}
.language__en{
    display: none;
}
.content{
    display: flex;
    justify-content : space-around;
    max-width: 70%;
    margin: 0 auto;
    @media only screen and (max-width: 1100px){
        max-width: 80%;
    }
    @media only screen and (max-width: 950px){
        max-width: 90%;
    }
    @media only screen and (max-width: 780px){
        display: block;
    }
}
.content__skills{
    h2{
        text-align: center;
        color: gree;
        color: $blucolor;
        font-style: italic;
        margin-bottom: 30px;
    }
    p{
        font-style: italic;
    }
    min-width: 50%;
}
.content__skills-skill{
    div{
        display: flex;
        padding-right: 10%;
        h4{
            width: 40%;
            font-style: italic;
        }
        div{
            height: 30px;
            padding: 2px;
            width: 90%;
            background-color: #FBFBFB;
            border: $blucolor 1px solid;
            @media only screen and (max-width: 540px){
                width: 60%;
            }
            p{
                height: 100%;
                background: $blucolor;
                //width: 80%;
                border-radius: 4px;
            }
        }
    }
}
.width__80{width: 80%;}
.width__60{width: 60%;}
.width__40{width: 40%;}
.width__20{width: 20%;}
.width__10{width: 10%;}
.content__about-me {
    div{
        display: none;
        @media only screen and (max-width: 780px){
            display: block;
        }
    }
    p{
        font-style: italic;
    }
}
.en{
    color: $blucolor;
}
.ru {
    color: $blucolor;
    display: none;
}
.goal{
    h2{
        text-align: center;
        font-style: italic;
        color: $blucolor;
        padding: 2%;
    }
    div{
        display: flex;
        justify-content : space-around;
        margin: 10px auto;
        width: 70%;
        @media only screen and (max-width: 540px){
            flex-direction : column;
        }
        p{
            font-size: 22px;
            font-style: italic;
            padding: 0 5px;
        }
    }
}
.portfolio{
    text-align: center;
    padding: 5% 0;
    a{
        font-size: 35px;
        font-style: italic;
            color: $blucolor;
    }
}
